<h1>Rock Paper Scissors</h1>
<form name='form' class="" action="/winner" method="get">
  <!-- <button id="button" type="submit" name="sumbit">Player 1 play!</button> -->
  <div id="button" onCLick="document.forms['form'].submit()">Player 1 play!</div>
</form>
