<!DOCTYPE html>
<html>
  <head>
    <title>Get your game on</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>

    <style>

      body {
        text-align: center;
      }
      #button {
        padding: 1em;
        border: solid 1px black;
        cursor: pointer;
      }
      #button:hover {

      }

    </style>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
